<a href="https://colab.research.google.com/github/tomeliud/test_project/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_27_Tom_Njoroge_Python_Note_book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#importing relevant python libraries 
import pandas as pd 
import numpy as np 
from random import randint 
from sklearn.preprocessing import LabelEncoder 
label_encoder = LabelEncoder()

In [6]:
# Loading cells geo description dataset 
#
data1 = "cells_geo_description.xlsx"
df = pd.read_excel(data1, sep=";")
df

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [7]:
# Loading our cells geo dataset 
# Creating DataFrame from the datasets and Converting our column names to lowercase characters
data2 = "cells_geo.csv"
df_geo = pd.read_csv(data2, sep=';', delimiter=None)
df_geo.columns = map(str.lower, df_geo.columns)
df_geo.head(10)

   unnamed: 0    villes      status  ... area     cell_id   site_code
0           0    ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1    ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2    ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3   ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4   ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f
5           5   ASSINIE  In Service  ...  NaN  0b4f56438f  8a1e6ce31f
6           6  KRIKOREA  In Service  ...  NaN  041d2504f5  260dbfedc5
7           7     ABOBO  In Service  ...  NaN  a70c1d263b  56306cc7ca
8           8     ABOBO  In Service  ...  NaN  e2d04ea883  56306cc7ca
9           9     ABOBO         NaN  ...  NaN  ee224cd27e  56306cc7ca

[10 rows x 12 columns]

In [8]:
# Loading our CDR_description dataset 
# Creating DataFrame from the datasets.
#
data3 = "CDR_description.xlsx"
df = pd.read_excel(data3, sep=";")
df

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [10]:
#loading datasets from the different sources 
#Dataset 1
url_1 = 'http://bit.ly/Telcom_dataset1'
df1 = pd.read_csv(url_1)
df.head(5001)

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [11]:
#Daatset 2
url_2 = 'http://bit.ly/Telcom_dataset2'
df2 = pd.read_csv(url_2)
df.head(10)

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [12]:
#Dataset 3 
url_3 = 'http://bit.ly/Telcom_dataset3'
df3 = pd.read_csv(url_3)
df.head(10)

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [21]:
# Merging the four datasets into one dataset.
# Dropping all the rows with zero values
all_data = [df_geo, df1, df2, df3]
df_dataset = pd.concat(all_data, axis=1)
w = df_dataset.dropna()
print(w)

      unnamed: 0    villes      status  ... COUNTRY_B      CELLID     SIET_ID
23          23.0     ABOBO  In Service  ...     19e2e  2q0YsSCxbH  2q0YsSCxbH
24          24.0     ABOBO  In Service  ...     19e2e  1MTLUFpdzd  1MTLUFpdzd
25          25.0     ABOBO  In Service  ...     19e2e  0/eYPFomxx  0/eYPFomxx
26          26.0     ABOBO  In Service  ...     19e2e  ++ctND+jGD  ++ctND+jGD
27          27.0     ABOBO  In Service  ...     OTHER  ++ctND+jGD  ++ctND+jGD
...          ...       ...         ...  ...       ...         ...         ...
3968      3968.0  ZUENOULA  In Service  ...     19e2e  f8f987f764  651c6d67d4
3969      3969.0  ZUENOULA  In Service  ...     19e2e  8b33094233  76595a1e95
3970      3970.0  ZUENOULA  In Service  ...     19e2e  e5e1285933  e9639876a8
3972      3972.0  ZUENOULA  In Service  ...     19e2e  846a0ea574  113d5b7f72
3973      3973.0  ZUENOULA  In Service  ...     19e2e  5a7f6cf0fa  2e828e607c

[2604 rows x 42 columns]

In [22]:
#most used cities for the three days 
result = pd.value_counts(x['villes'])
city_users = result.head()
c_max = result.max()
print(f"Most used cities: \n CITY       COUNT\n{city_users}")

Most used cities:
 CITY       COUNT
COCODY      241
ABOBO       211
YOPOUGON    184
MARCORY      96
ADJAME       81
Name: villes, dtype: int64

In [23]:
#list of cities in a region.
total_city = pd.value_counts(x['localisation'])
print(total_city)

INTERIEUR    1431
ABIDJAN      1173
Name: localisation, dtype: int64

In [36]:
#Region with the most users.
region = pd.value_counts(x['region'])
print(f"Region               Count\n \n{region.head()}")

Region               Count

LAGUNE               1290
BAS SASSANDRA         155
VALLEE DU BANDAMA     101
LACS                   96
SAVANE                 95
Name: region, dtype: int64

In [50]:
#product price in Cocody city
p_cocody = x[x['villes'] == 'COCODY']
sum_value = p_cocody['VALUE'].sum()
print(f"Product price per day in Cocody city is{sum_value}")

Product price per day in Cocody city isVALUE     5990
VALUE    11296
VALUE    13045
dtype: int64

In [51]:
#product price in Abobo city
p_abobo = x[x['villes'] == 'ABOBO']
sum_value = p_abobo['VALUE'].sum()
print(f"Product price per day in Abobo city is\n{sum_value}")

Product price per day in Abobo city is
VALUE    3965
VALUE    3612
VALUE    3489
dtype: int64

In [56]:
#product price in Youpougon city 
p_yopougon = x[x['villes'] == 'YOPOUGON']
sum_value = p_yopougon['VALUE'].sum()
print(sum_value)

VALUE    5551
VALUE    7680
VALUE    9595
dtype: int64